# 1) Task

###  Installing the dependencies

In [ ]:
!pip install pandas
!pip install sklearn
!pip install numpy

### Importing the dependencies

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

#  Data Analysis

###  Importing Dataset

In [5]:
df=pd.read_csv('DataSets/advertising.csv')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [6]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

###  Cleaning the Data

##### Checking duplicates values

In [7]:
df.duplicated().sum()

0

So there is no duplicates values in our data

##### Checking null values

In [8]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

As we can see there are no null values

##### Data Types

In [15]:
df.dtypes

TV           float64
Radio        float64
Newspaper    float64
Sales        float64
dtype: object

# 3) Model building

### 3.1) Splitting Data

##### Independent variable

In [12]:
x=df[['Radio']]
y=df[['TV']]
z=df[['Newspaper']]

#### Dependent variable

In [14]:
a=df['Sales']

##### Training And Testing data

In [16]:
X_train, X_test, a_train, a_test = train_test_split(x, a, test_size=0.2, random_state=42)

### 3.2) Model Building

#### 3.2.1) Linear Regression

In [17]:
regression=LinearRegression()
regression.fit(X_train, a_train)
a_pred = regression.predict(X_test)
mse = mean_squared_error(a_test, a_pred)
r2 = r2_score(a_test, a_pred)
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 27.595581948583174
R-squared: 0.10697088619553419

In [18]:
y_train, y_test, a_train, a_test = train_test_split(y, a, test_size=0.2, random_state=42)
regression.fit(y_train, a_train)
a_pred = regression.predict(y_test)
mse = mean_squared_error(a_test, a_pred)
r2 = r2_score(a_test, a_pred)
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 6.101072906773963
R-squared: 0.802561303423698

##### Train test split of z

In [19]:
z_train, z_test, a_train, a_test = train_test_split(z, a, test_size=0.2, random_state=42)
regression.fit(z_train, a_train)
a_pred = regression.predict(z_test)
mse = mean_squared_error(a_test, a_pred)
r2 = r2_score(a_test, a_pred)
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 30.759376922769615
R-squared: 0.004586344085821592